<div class="container">

    <div class="card">
		
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="acommodation.name" name="name"/>
				<label class="input-label">Name</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="acommodation.location" name="location"/>
				<label class="input-label">Location</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="acommodation.photos" name="photos"/>
				<label class="input-label">Photos</label>
			</div>

			<div class="input">
				<input type="text" class="input-field" required [(ngModel)]="acommodation.features" name="features"/>
				<label class="input-label">Features</label>
			</div>

            <!-- <div class="input2">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label >Features</mat-label>
                    <mat-select [formControl]="features" multiple >
                    <mat-option *ngFor="let feature of featureList" [value]="acommodation.features" [(ngModel)]="acommodation.features" name="features">{{feature}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div class="input">
				<input type="number" min="1" placeholder="1" class="input-field" required [(ngModel)]="acommodation.minNumGuest" name="minNumGuest" />
				<label class="input-label">Min number of Guests</label>
			</div>

            <div class="input">
				<input type="number" min="1" placeholder="1" class="input-field" required [(ngModel)]="acommodation.maxNumGuest" name="maxNumGuest" />
				<label class="input-label">Max number of Guests</label>
			</div>

            <div class="action">
				<button mat-raised-button color="primary" (click)=createNewAcommodation(acommodation)>Confirm</button>
			</div>

		</form>

	</div>
    

    
    

</div>